* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.page-not-found {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../404/404.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
  
  